@font-face {
  font-family: 'JetBrains';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono-Medium.woff2") format("woff2"),
       url("../fonts/JetBrainsMono-Medium.woff") format("woff");
}
@font-face {
  font-family: 'JetBrains';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/JetBrainsMono-Medium-Italic.woff2") format("woff2"),
       url("../fonts/JetBrainsMono-Medium-Italic.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/JetBrainsMono-Bold.woff2") format("woff2"),
       url("../fonts/JetBrainsMono-Bold.woff") format("woff");
}
@font-face {
  font-family: 'JetBrains';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/JetBrainsMono-Bold-Italic.woff2") format("woff2"),
       url("../fonts/JetBrainsMono-Bold-Italic.woff") format("woff");
}

@font-face {
  font-family: 'JetBrains';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/JetBrainsMono-ExtraBold.woff2") format("woff2"),
       url("../fonts/JetBrainsMono-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: 'JetBrains';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/JetBrainsMono-ExtraBold-Italic.woff2") format("woff2"),
       url("../fonts/JetBrainsMono-ExtraBold-Italic.woff") format("woff");
}

  @page {
    size: letter;
    margin-left: 1.8cm;
    margin-right: 1.8cm;
    margin-top: 2cm;
    margin-bottom: 2.2cm;

    /* pied de page */
      @bottom-left {
        content: "Déployer le livre — Antoine Fauchié";
        width: 100%;
      }

      @bottom-right {
        content: counter(page);
      }
  }

@media print {
	body {
    font-family: "JetBrains", monospace;
		font-size: 0.875em;
	}

  p, li {
  	line-height: 1.75em;
  }
  
  img {
    width: 100%;
  }
  
  #titre {
    string-set: titre content(text);
  }
	
  #titre_site {
    string-set: titre_site content(text);
  }
  
  .titre-site {
    visibility: hidden;
  }
  
  h2.subtitle {
    font-size: 2em;
    margin-top: 0em;
  }
	h2 {
		font-size: 1.5em;
		margin-top: 2em;
	}
  h3 {
    font-size: 1.25em;
    margin-top: 1.5em;
  }
  
  .main-content {
    display: block;
  }
  
  hr {
    visibility: hidden;
    break-after: page;
  }

/* gestion des citations */
  .hugo-cite-intext {
    display: inline-block;
    vertical-align: baseline; /*compensate for lower height */
    position: relative;
    /*font-size: .85em; */ /* reduce to avoid some breaks */
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .hugo-cite-intext
    .hugo-cite-citation {
      visibility: hidden;
      background-color: #ffffff;
      color: inherit;
      border: 1px solid currentColor;
      padding: 1rem;
      position: absolute;
      width: 350px;
      max-width: 100vw;
      z-index: 1;
      bottom: 140%;
      left: 0;
      margin-left: -50px;

      z-index: 2;
      transition:
        visibility 0s .3s,
        transform .3s ease 0s,
        opacity .3s ease 0s;
      opacity: 0;
      transform: translateY(-8px);
  }
  .visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }

  .numero {
    font-size: 1.5em;
    font-weight: 800;
    display: inline-block;
    opacity: 0.3;
}

.module h2 {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    padding-left: 1em;
}

.module time {
    display: inline-block;
    margin-right: auto;
    opacity: 0.5;
    padding-left: 1em;
}

}
