<!doctype html>
<html lang="fr">
  {{ partial "head-impression.html" . }}
<body>
<main>
  <section>
    <h1>{{ .Site.Title }} — {{ .Site.Params.Author }}</h1>
      {{ range (.Paginate ( where .Site.RegularPages "Section" "posts" ).ByWeight).Pages }}
        {{ if ne .Kind "section" }}
      <section class="module">
        {{ if eq .Params.dateview "non" }}{{ else }}<span class="numero">{{ .Weight }}</span>{{ end }}
        <h2 id="module-{{ .Weight }}">{{ .Title }}</h2>
        {{ if eq .Params.dateview "non" }}{{ else }}<time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>{{ end }}
        <p>{{ .Description | markdownify }}</p>
        {{ .Content }}
      </section>
        {{ end }}
      {{ end }}
      <section>
        <p>{{ .Site.Params.copyright }} {{ .Site.Author.name }} {{ .Site.BaseURL }}</p>
      </section>
  </main>
</body>
</html>
