<!doctype html>
<html lang="fr">
  {{ partial "head.html" . }}
<body>
<main>
    {{ partial "header.html" . }}
  <section>
    {{ range (.Paginate ( where .Site.RegularPages "Section" "posts" ).ByWeight).Pages }}
      {{ if ne .Kind "section" }}
      <section class="module">
        {{ if eq .Params.dateview "non" }}{{ else }}<span class="numero">{{ .Weight }}</span>{{ end }}
        <h2 id="module-{{ .Weight }}">{{ .Title }} <a class="anchor" href="#module-{{ .Weight }}">#</a></h2>
        {{ if eq .Params.dateview "non" }}{{ else }}<time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006-01-02" .Date }}</time>{{ end }}
        <p>{{ .Description | markdownify }}</p>
        {{ .Content }}
        {{ if eq .Params.dateview "non" }}{{ else }}<section class="discussion"><span class="message"><a href="mailto:antoine@quaternum.net?subject={{ .Site.Title }} - {{ .Title }}">Converser par message</a></span> — <span class="message"><a href="https://projets.ex-situ.info/etudesdulivre21/liv1/fauchie/">Commenter sur le site du colloque</a></span></section>{{ end }}
      </section>
      {{ end }}
    {{ end }}
  </section>
    {{ partial "footer.html" . }}
  </main>
</body>
</html>
