<footer>
	  <nav>
      
  <ul>
    <li>
      {{ .Site.Params.copyright }} <a href="{{ .Site.Author.site }}">{{ .Site.Author.name }}</a> {{ dateFormat "2006" now }}
    </li>
  
  </ul>
    </nav>
</footer>
