  <header>
    <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
    <nav>
      {{ $current := . }}
  <ul>{{ range .Site.Menus.main }}
    <li>
      {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      {{ $active = or $active (and (eq .Name "Index") (eq $current.Section "posts")) }}
      {{ $active = or $active (and (eq .Name "Projects") (eq $current.Section "projects")) }}
      <a href="{{ .URL }}" {{ if $active }}aria-current="page"{{ end }}>{{ .Name }}</a>
    </li>
  {{ end }}
  </ul>
    </nav>
    <nav>
      <ul>
        <li><a href="https://projets.ex-situ.info/etudesdulivre21/">Colloque Études du livre au XXI<sup>e</sup> siècle</a></li>
      </ul>
    </nav>
  </header>
